@mixin min($bp, $max: 'null', $device: 'screen') {
  @if $max=='null' {
    @media only #{$device} and (min-width: #{$bp}) {
      @content;
    }
  }

  @else {
    @media only #{$device} and (min-width: #{$bp}) and (max-width: #{$max}) {
      @content;
    }
  }
}

@function bp($bp) {
  @return map-get($points, $bp);
}

$points: (xs: 320px,
  // Smartphone
  sm: 600px,
  // Tablets
  md: 900px,
  // Tablets Landscape and small desktops
  lg: 1200px,
  // Desktops
  xl: 1800px,
  // Large Desktop
);

@function container($container-size, $true-val: false) {
  @return map-get($container-sizes, $container-size);
}

$container-sizes: (sm: map-get($points, sm) - 30px,
  md: map-get($points, md) - 40px,
  lg: map-get($points, lg),
  xl: map-get($points, xl) - 100px,
);

.container {
  padding-right: 1rem;
  padding-left: 1rem;

  &:not(.is-fluid) {
    margin: 0 auto;

    @each $bp,
    $container-size in $container-sizes {
      @include min(#{bp(#{$bp})
    }

    ) {
      width: 100%;
      max-width: container(#{$bp});
    }
  }
}
}

@each $bp,
$container-size in $container-sizes {
  .container-#{$bp} {
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;

    $i: index($container-sizes, $bp $container-size);

    @for $j from $i through length($container-sizes) {
      @include min(#{bp(nth(nth($container-sizes, $j), 1))}) {
        max-width: container(#{nth(nth($container-sizes, $j), 1)});
      }
    }
  }
}

.main-container {
  padding: 0 7.5rem;

  @include breakpoint(xl) {
    padding: 0 5.5rem;
  }

  @include breakpoint(lg) {
    padding: 0 3.5rem;
  }

  @include breakpoint(md) {
    padding: 0 2rem;
  }

  @include breakpoint(sm) {
    padding: 0 1.25rem;
  }

  &.no-left {
    padding: 0 7.5rem 0 0;

    @include breakpoint(xl) {
      padding: 0 5.5rem 0 0;
    }

    @include breakpoint(lg) {
      padding: 0 3.5rem 0 0;
    }

    @include breakpoint(md) {
      padding: 0 2rem 0 0;
    }

    @include breakpoint(sm) {
      padding: 0 1.25rem 0 0;
    }
  }

  &.no-right {
    padding: 0 0 0 7.5rem;

    @include breakpoint(xl) {
      padding: 0 0 0 5.5rem;
    }

    @include breakpoint(lg) {
      padding: 0 0 0 3.5rem;
    }

    @include breakpoint(md) {
      padding: 0 0 0 2rem;
    }

    @include breakpoint(sm) {
      padding: 0 0 0 1.25rem;
    }
  }

  &.md-full {
    @include breakpoint(md) {
      padding: 0 2rem;
    }

    @include breakpoint(sm) {
      padding: 0 1.25rem;
    }

  }

  &.md-no-right {
    @include breakpoint(md) {
      padding: 0 0 0 2rem;
    }

    @include breakpoint(sm) {
      padding: 0 0 0 1.25rem;
    }
  }

  &.m-no-right {
    @include breakpoint(sm) {
      padding: 0 0 0 1.25rem;
    }
  }

  &.sm-no-container{
    @include breakpoint(sm) {
      padding: 0;
    }
  }

  &.relative {
    position: relative;
  }

  @media screen and (min-width: 1500px) {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 !important;
  }
}

.main {
  position: relative;
}