$font-default: "Inter", sans-serif;
$delay: 0.2s;

/* Colors */
$dark: #000;
$purple: #3b2a82;
$border-purple: #7762ce;
$dark-purple: #181231;
$shadow-purple: #5014ad40;

$red: #ff3067;
$red-border: #ff7298;
$shadow-red: #ff306740;

$autocomplate: #94a3b8;
$dark-autocomplate: #334155;

$grey: #e2e8f0;
$black: #000;
$white: #fff;

$error: #d41a1a;
